In [3]:
import pandas as pd

In [7]:
data={
    'col1':[10,20,40,50],
    'col2':[90,55,44,22]
}

In [9]:
df=pd.DataFrame(data)

In [13]:
df

   col1  col2
0    10    90
1    20    55
2    40    44
3    50    22

In [19]:
Series=df.iloc[:,0]

In [21]:
Series

0    10
1    20
2    40
3    50
Name: col1, dtype: int64